div.home{
    width: 100%;
    margin: auto;
  }

#title{
  text-align: center;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(246, 245, 234);
}

img[title="img"]{
  display: block;
  margin: auto;
  width: 70%;
  height: 300px;
  border-radius: 10px;
}

p{
  font-size: larger;
  font-family:Arial, Helvetica, sans-serif ;
  color: black;
}

div[title="category_detail"]{
  margin:auto;
  width:80%;
}

div.collections{
  margin:20px;
}

a.collection-item{
  font-size:25px;
}

div[title="nav_container"]{
  width:80%;
}

a{
  text-decoration: none;
}

img[title="post-img"]{
  margin-top: 50px;
  height: 200px; 
  width: 100%;  
  border-radius: 10px;
}

.img-container{
  height: 250px;
  margin: 0;
  align-items: center;
  justify-content: center;   
}

.item{
  margin-left: 10px;
}