{%extends "blog/base.html"%} {%block title%}ThoughtScribe{%endblock%} {%load
static%} {%block content%}
<div class="container" title="category_detail">
  <h3 class="text-center text-primary font-weight-bold">{{ cat.title }}</h3>
  <div class="d-flex justify-content-center align-items-center">
    <img
      src="/media/{{ cat.images }}"
      class="img-fluid"
      style="max-height: 400px; width: 90%; object-fit: cover"
    />
  </div>
  <h4 class="mt-4">Posts related to this category:</h4>
  <div class="collection">
    {% for item in posts %}
    <a href="/blog/{{item.id}}" class="collection-item">{{item.title}}</a>

    {% empty %}
    <h5>No posts in this category</h5>
    {% endfor %}
  </div>
</div>
{% endblock %}
