{%extends "blog/base.html"%} {%block title%}ThoughtScribe{%endblock%}
<!-- Set up your HTML -->
{%block content%}

<!-- Set up your HTML -->
<!-- Carousel Section -->
<div
  class="owl-carousel center"
  style="width: 95%; margin: auto; height: 500px; margin-top: 10px"
>
  {% for cat in categories %}
  <div class="card item mr-3" style="height: 400px">
    <div
      class="category-container"
      style="background-image: url('/media/{{cat.images}}');height:300px;background-size:cover;background-repeat:no-repeat;"
    ></div>
    <div
      class="card-content"
      style="margin-top: 0px; align-items: center; justify-content: center"
    >
      <div class="card-title font-weight-bold text-muted">{{cat.title}}</div>
      <p class="truncate">{{cat.description}}</p>
      <div class="container center" style="margin: auto">
        <a href="/category/{{cat.c_id}}" class="btn btn-warning mt-3"
          >Explore</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!--posts section-->
<div class="container home">
  <div class="row" style="width: 80%">
    <div class="col s12">
      {%for post in final_posts%}
      <div class="row" style="">
        <div class="card my-3 shadow" style="width: 100%">
          <div
            class="card-body"
            style="
              box-shadow: 10px 10px 5px lightblue;
              background-color: rgb(246, 245, 234);
            "
          >
            <div class="col s8">
              <span class="h6" style="color: grey"
                >{{post.author}} : {{ post.date|date:"F d, Y" }}</span
              >
              <hr />
              <h5 style="color: rgb(108, 21, 27); font-weight: 600">
                {{post.title |truncatewords:15|safe}}
              </h5>
              <hr />
              <p>{{post.content |truncatewords:60|safe}}</p>
              <div
                class="container"
                style="align-items: center; justify-content: center"
              >
                <a href="/blog/{{post.id}}" class="btn">Read More</a>
              </div>
            </div>
            <br />
            <div class="col s4">
              <img
                src="/media/{{post.pictures}}"
                class="responsive-img"
                title="post-img"
              />
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>

<!-- Pagination Section -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if final_posts.has_previous %}
    <li class="page-item">
      <a
        class="page-link"
        href="/home/?page={{ final_posts.previous_page_number }}"
        >Previous</a
      >
    </li>
    {% endif %} {% for n in total_pagelist %}
    <li class="page-item {% if n == final_posts.number %}active{% endif %}">
      <a class="page-link" href="/home/?page={{ n }}">{{ n }}</a>
    </li>
    {% endfor %} {% if final_posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="/home/?page={{ final_posts.next_page_number }}"
        >Next</a
      >
    </li>
    {% endif %}
  </ul>
</nav>
{%endblock%}
