{%extends "blog/base.html"%} {%block title%}Profile Page{%endblock%}
<!-- Set up your HTML -->
{%load crispy_forms_tags%}
<!-- Set up your HTML -->
{% block content%}
<div class="container">
  <div class="row mt-5 pt-3">
    <div class="col-md-6 offset-md-3">
      <div class="card my-3 shadow">
        <div class="card-body">
          <span class="h4">Profile Page</span>
          <span>
            <!-- Button trigger modal -->
            <a href="/edit_profile" class="btn btn-sm float-right">
              Edit Profile
            </a>
          </span>

          <hr />
          <div class="row">
            <div class="col-md-4">
              <img
                class="img-thumbnail"
                src="{{ user.profilemodel.image.url }}"
                alt="profile-img"
              />
            </div>
            <div class="col-md-8">
              <h6>Username: {{ user.username }}</h6>
              <h6>Email: {{ user.email }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
